<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listners.RetryTestCases"></listener>
	</listeners>
	<parameter name="browserName" value="Chrome"></parameter>
	<parameter name="env" value="QA"></parameter>
	<test thread-count="1" name="Test">
		<classes>
			<class name="tests.DashboardTests" />
			<class name="tests.LoginTests" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
